*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::after{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:#2a0341; 
}

html{
  scroll-behavior: smooth;

}
body::-webkit-scrollbar{
  background-color:#000000;
  width: 10px;
}
body::-webkit-scrollbar-thumb
{
  background-color:#fff;
  border-radius: 50px;
}
.conteiner{
  display:none;
}
.loading-img{
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.none{
  display: none;
}
.loading-img img{
  width: 5%;
}
nav{
  background-color:#25252562;
  display: flex;
  z-index: 10;
  width: 100%;
  height: 50px;
  box-shadow:0 0 50px  rgba(0, 0, 0, 0.356);
  position:fixed;
  left: 0;
  top: 0;
  justify-content: space-between;
  flex-direction: row;
}
.menu-container{  
    display: none;
  }
.nav-ul{
  padding: 10px;
  display: flex;
  list-style: none; 
}

.nav-li{
  cursor: pointer;
  color: #fff;
  font-size: 14pt;
  border-bottom: 1px solid #fff;
  margin:0 60px;
  padding: 5px 6px;
}
.nav-ul-ajustes{
  list-style: none; 
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.li-ajustes img {
  width: 70%;
  cursor: pointer;
}

.container-Im{
  background-color: #1e0631;
  display: flex;
  background:linear-gradient(20deg, #860686 ,#1A0C50 , #1e0631 ,);
  height: 100vh;
  animation: backg 10s infinite alternate ease-in-out;
} 
@keyframes backg{
  0%{
    background-position:5px 0px;
  }
  100%{
    background-position: 360px center;
  
  }
}
.item-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(17, 6, 80, 0.144);
  backdrop-filter: blur(100px);
}
.item-img {
  width: 40ch;
  height: 40ch;
  border-radius: 100%;
  box-shadow: 20px -50px 10px 5px #1A0C50 inset;
  position: absolute;
  z-index: -1;
  margin-top:-40ch;
}

.Im-item-titel{
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 22pt;
  text-align: center;
  color: #fff;
  width: 100%;
  margin:10ch 10px;
}
.item-area{
  font-family: 'Taviraj', serif;
}
/* About */

.container-about{
  background-image: url("./img/decoration2_yellon.png");
  background-repeat:no-repeat;
  background-size: 15%;
  background-position: 0% 50px;
  display: flex;
  justify-content: content;
  height: 100vh;
  background-color:#0f0f0f;
}

.about-img{
  width: 20%;
  height:45%;
  margin: 100px 300px;
  box-shadow: -50px -30px 0 #86067f;
  overflow: hidden;
  border-radius: 10%;
}

.about-img-item{
  width: 100%;
  height:100%;
  border-radius: 10%;
  filter: drop-shadow(-5px -0px 0px rgb(252, 235, 3));
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.about-text{
  background-image: url("./img/decoration1_black.png");
  background-size: 25%;
  background-position:100% 100%;
  font-family: 'Antic Slab', serif;
  background-repeat:no-repeat;
  font-size: 12pt;
  flex:1.5;
  margin: 120px 20px;
  position: relative;
  left: -100px;
}
.about-text h3{
  color: #fc06be;
  font-size: 28pt;
  padding: 10px 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 5;
  position: relative;
}
.about-text h3::before{
  content: "";
  width: 55px;
  position: absolute;
  left: -5px;
  z-index: -1;
  border-radius:4px;
  border-bottom:45px solid yellow;
}

.about-text p{
  color:#fff;
}



/*skill */

.contener-stkills{
  background-color: #070707;
  min-height: 100vh;
  list-style: none;
}

.title-stkill{
  position: relative;
  z-index: 5;
  text-transform:uppercase;
  text-align: center;
  color: #fc06be;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24pt;
  padding: 50px;
}
.title-stkill::before{
  content: "";
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius:4px;
  border-bottom:35px solid yellow;
}

.conteiner-lister{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  width: calc(100%-20px);
  border-radius: 10px;
  flex-wrap: wrap; 
}
.liste-stkills{
  font-family: 'Fira Sans', sans-serif;
  font-size: 12pt;
  text-transform: capitalize;
  border: 1px solid rgb(255, 255, 255,0.1);
  height: 200px;
  margin: 5px 2px;
  width:200px;
  border-radius: 5px;
  display:flex;
  position: relative;
  flex-direction: column;
  background-color:rgb(255, 255, 255,0.02);
  align-items:center;
  color:#fff;
  transition: all 0.2s; 
}
.liste-stkills::before{
  background:radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.07),
    transparent 40%
  );
  border-radius:inherit;
  content:"";
  height:100%;
  left:0px;
  opacity:0;
  position:absolute;
  top:0;
  width:100%;
  z-index: 2;
  transition: opacity 500ms
}

.liste-stkills:hover::before{
  opacity: 100%;
}

.liste-stkills img{
  margin: 40px;
  width:40%;
  height: 40%;
  min-height: 40%;
}
.liste-stkills span{
  padding: 5px;
}

/*proyect*/

.container-proyect{
  background-image: url("./img/decoration2_yellon.png");
  background-size: 20%;
  background-position: 110% 0px;
  background-repeat: no-repeat;
  background-color:#0f0f0f;
  color: #fff;
  display:flex;
  margin: auto;
  min-height: 100ch;
  flex-direction: column;
  width: 100%;
}
#titulo-proyect {
  position: relative;
  z-index: 2;
  color: #fc06be;
  padding:50px;
  font-size:38pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#titulo-proyect::after{
  content: "";
  width: 100px;
  position: absolute;
  left: 20px;
  z-index: -1;
  border-radius:4px;
  border-bottom:60px solid yellow;
}
#titulo-proyect::before{
  content: "MY";
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  margin: 15px -25px;
  transform: rotate(270deg);
  font-size: 18pt;
}
.Filter-proyect{
  list-style: none;
  font-family: 'Antic Slab', serif;

  display: flex;
  padding-bottom: 40px;
}
.Filter-proyect li{
  margin:0 20px;
  cursor: pointer;
  padding:0px 4px;
}
.container-lista{
  background-position: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Select{
  transition: all 0.2s;
  border-bottom: 1px solid rgb(255, 208, 0);
}
.item-lista{ 
  display: flex; 
  margin-bottom:100px;
  width:100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.item-lista li{
  border-radius: 5px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.993);
  margin:5px;
  width:280px;
  height:200px;
  overflow: hidden;
}
.item-lista-img{
  width: 170%;
  object-position:-50px -20px;
  object-fit: cover;
}

#enlaces{
  position: absolute;
  overflow: hidden;
  margin-top:-34ch;
  width:280px;
  height:200px;
}

#enlaces a{
  border-radius: 5px;
  background-color: #252525;
  display:block;
  text-decoration:none;
  width:280px;
  font-family: 'Antic Slab', serif;
  height:200px;
  padding:5px;
  margin:200px 0;
  color:#fff;
  transition:margin 0.2s ease-in-out; 
}
#enlaces:hover a{
  margin:0px 0;
}

#enlaces-text{
  font-size: 12pt;
}

.skill-enlace{
  color:#de04f1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.enlaces-title{
  display:block;
  font-size: 20pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.icono-search{
  display: block;
  color: #fff;
  background-image: url("./img/icons8-search.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:40px;
  min-width: 50px;
  height: 50px;
}

/*cotacto*/
.container-contact{
  background-color: #0f0f0f;
  min-height:100vh;
  display: flex;
  background:linear-gradient(10deg, #860686 ,#1A0C50 , #1e0631 ,);
}

.container-herramientas{
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  border-radius:5px;
  width:90%;
  height:90%;
}
.titel-contacto{
  z-index: 2;
  color: #fc06be;
  padding:50px;
  font-size:18pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titel-contacto::before{
  content: "";
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius:4px;
  border-bottom:40px solid yellow;
}
.item-container-herramientas,.item-container-herramientas a{
  margin: 10px 2px;
  text-decoration: none;
  color: #fff;
  display:flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}
.Bye{
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}
.Bye p{
  font-size:18pt;
  padding: 10px;
}

@media (max-width: 700px) {

.menu-container{  
    display: flex;
    position: absolute;
    height: 50px;
}
.nav-ul{
  display:none;
}
.nav-ul-ajustes{
  display: none; 
}

.menu-none{
    display: flex;
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    background:#070707;
    width: 0%;
    height: 0vh;
    border-radius: 0px 0px 100% 0px;  
    text-align: center;
    box-shadow:none;
    animation: menu_none 0.7s 1 ease ; 
}

@keyframes menu_none {
  0%{
    display: flex;
    flex-direction: column;
    padding: 70px;
    box-shadow: 40px 0px 0% #000000;
    background:#070707;
    width: 100%;
    height: 100vh;
    border-radius: 0px 0px 0% 0px;  
    color: rgba(0, 0, 0, 0);
    text-align: center;
    box-shadow:none;
  } 
  50%{
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 40px 0px 0% #000000;
    background:#070707;
    border-radius: 0px 0px 50% 0px;  
  }
  100%{
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-shadow: 40px 0px 0% #000000;
    background:#070707;
    height: 0vh;
    width: 0%;
    border-radius: 0px 0px 100% 0px;  
  }
}


.menu{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 70px 2px;
  height: 100vh;
  width: 100%;
  box-shadow: 40px 0px 100% #000000;
  background:#070707;
  animation: menu 0.5s 1 ease ; 
}
@keyframes menu {
  0%{
    width: 10%;
    height: 10vh;
    border-radius: 0px 0px 100% 0px;  
    color: rgba(0, 0, 0, 0);
    box-shadow:none;
  } 
  50%{
    border-radius: 0px 0px 50% 0px;  
    text-align: center;

  }
  100%{
    height: 100vh;
    width: 100%;
    text-align: center;
    border-radius: 0px 0px 0% 0px;  
  }
}


.nav-li{
  cursor: pointer;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-size:24pt;
  text-align: center;
  margin:20px 5px;
  border:none;
  padding: 5px 6px;
  animation: menu 1s 1 ease ;

}

.Im-item-titel{
  font-size: 15pt;
}

/* About */

.container-about{
  flex-wrap: wrap;
  min-height: 100vh;
  background-size: 25%;
}

.about-img{
  width: 100%;
  height:40%;
  margin: 100px;
}


.about-text{
  background-image: url("./img/decoration1_black.png");
  font-size: 12pt;
  margin: 10px 70px;
  left: 0px;
  top: -70px;
}
.about-text h3{
  font-size: 24pt;
 
}
.about-text h3::before{
  border-bottom:40px solid yellow;
}



/*skill */

.contener-stkills{
  background-color: #070707;
  min-height: 100vh;
  list-style: none;
}
.title-stkill{
  position: relative;
  z-index: 5;
  text-transform:uppercase;
  text-align: center;
  color: #fc06be;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24pt;
  padding: 50px;
}
.title-stkill::before{
  content: "";
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius:4px;
  border-bottom:35px solid yellow;
}

.conteiner-lister{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  width: calc(100%-20px);
  border-radius: 10px;
  flex-wrap: wrap; 
}
.liste-stkills{
  font-size: 9pt;
  height: 100px;
  width:100px;
}


.liste-stkills:hover::before{
  opacity: 100%;
}

.liste-stkills img{
  margin: 10px;
  width:40%;
  height: 40%;
  min-height: 40%;
}
.liste-stkills span{
  padding: 5px;
}

/*proyect*/

.container-proyect{

  background-size: 30%;
}
#titulo-proyect {
  position: relative;
  z-index: 2;
  color: #fc06be;
  padding:50px;
  font-size:24pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#titulo-proyect::after{
  width: 80px;
  border-bottom:40px solid yellow;
}
#titulo-proyect::before{
  margin: 5px -20px;
  font-size: 14pt;
}
.Filter-proyect{
  list-style: none;
  font-family: 'Antic Slab', serif;
  display: flex;
  padding-bottom: 40px;
}
.Filter-proyect li{
  margin:0 5px;

}

.item-lista{ 
  display: flex; 
  margin-bottom:100px;
  width:100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.item-lista li{
  border-radius: 5px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.993);
  margin:5px;
  width:280px;
  height:200px;
  overflow: hidden;
}
.item-lista-img{
  width: 170%;
  object-position:-50px -20px;
  object-fit: cover;
}

#enlaces{
  position: absolute;
  overflow: hidden;
  margin-top:-34ch;
  width:280px;
  height:200px;
}

#enlaces a{
  border-radius: 5px;
  background-color: #252525;
  display:block;
  text-decoration:none;
  width:280px;
  font-family: 'Antic Slab', serif;
  height:200px;
  padding:5px;
  margin:200px 0;
  color:#fff;
  transition:margin 0.2s ease-in-out; 
}
#enlaces:hover a{
  margin:0px 0;
}

#enlaces-text{
  font-size: 12pt;
}

.skill-enlace{
  color:#de04f1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.enlaces-title{
  display:block;
  font-size: 20pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.icono-search{
  display: block;
  color: #fff;
  background-image: url("./img/icons8-search.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:40px;
  min-width: 50px;
  height: 50px;
}

/*cotacto*/
.container-contact{
  background-color: #0f0f0f;
  min-height:100vh;
  display: flex;
  background:linear-gradient(10deg, #860686 ,#1A0C50 , #1e0631 ,);
}

.container-herramientas{
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  border-radius:5px;
  width:90%;
  height:90%;
}
.titel-contacto{
  z-index: 2;
  color: #fc06be;
  padding:50px;
  font-size:18pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titel-contacto::before{
  content: "";
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius:4px;
  border-bottom:40px solid yellow;
}
.item-container-herramientas,.item-container-herramientas a{
  margin: 10px 2px;
  text-decoration: none;
  color: #fff;
  display:flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}
.Bye{
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}
.Bye p{
  font-size:18pt;
  padding: 10px;
}
}

